#div{
    background-image: url(.//img/pattern.png);
}

#h2{
    color: rgb(143, 141, 141);
}
h4{
    color: rgb(143, 141, 141);
}

#h5{
    color: rgb(143, 141, 141);
}

#hero{
    background-color: rgb(62, 124, 199);
}


